<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>tech-hunt</title>


    <script src="https://kit.fontawesome.com/7d9fb7cfe3.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Ubuntu&display=swap"
        rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/instruction.css">

</head>

<body>

    <section id="title">

        <!-- Nav Bar -->

        <div class="container-fluid">


            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" href="">tech-hunt </a>

            </nav>




            <!-- Title -->

            <div>
                <div>
                    <h1 style="text-align:center;">Instructions</h1>
                    <p style="font-size: 26px">1. There are 4 problems in total.
                    </p>
                    <p style="font-size: 26px">2. Each problem is mandatory .
                    </p>
                    <p style="font-size: 26px">3. You will be redirected to the next problem only if you solve the current one correctly.
                    </p>
                    <p style="font-size: 26px">4. You will get a maximum of 3 chances to find the soltuion correctly.
                    </p>
                    <p style="font-size: 26px">5. In case you exceed the limit , you will have to start again .
                    </p>
                    <p style="font-size: 26px">6. Now, go and find Jerry!
                    </p>
                    
                    <div class="text-center">
                        <button type="button" class="btn btn-dark btn-lg go-button" onclick="redirecttogame1()"></i> Continue</button>
                    </div>

                </div>
            </div>
            <script>
              function redirecttogame1(){
                window.location.href="/game1"
              }
            </script>

        </div>

    </section>
</body>
</html>