<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TinDog</title>


    <script src="https://kit.fontawesome.com/7d9fb7cfe3.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Ubuntu&display=swap"
        rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/landing.css">

</head>

<body>

    <section id="title">

        <!-- Nav Bar -->

        <div class="container-fluid">


            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" href="">tech-hunt </a>

            </nav>

           


            <!-- Title -->

            <div class="row">
                <div class="col-lg-6">
                    <%- include ("./partials/messages"); %>
                    <h1>Here is the story....</h1>
                    <p style="font-size: 26px">Tom wants to catch Jerry but he is tired of doing that by hit and trial.
                        The only clue the Tom
                        found is some code which he don't understand. You can help him finding tom by solving that
                        clue.....
                    </p>
                    <button type="button" class="btn btn-dark btn-lg go-button"  onclick="redirectToLogin()"></i> Let's
                        Start</button>
                </div>
                <div class="col-lg-6">
                    <img class="tom-image" src="img/roadmap_final.png"
                        style="object-fit:contain; width:700px;height:800px;" alt="tom-jerry-roadmap">
                </div>
            </div>

        </div>

    </section>
    <script>
        function redirectToLogin() {
          window.location.href = "/login";
        }
      </script>
</body>

</html>